[core]
  editor = nvim
  autocrlf = false
[user]
	name = YongSu Chang
	email = ahae91@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub
[commit]
  verbose = true
  gpgsign = yes
[tag]
  gpgsign = yes
[gpg]
  format = ssh
[merge]
  conflictstyle = zdiff3
[pull]
	rebase = true
[fetch]
  prune = true
